<div class="logoLoader">
    <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
    </div>
    <h1 class="title">Mat</h1>
    <p class="status">Connecting...</p>
</div>

<div class="container slide">

</div>